*{
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration:underline;
    color:blue;
}
header{
    display:flex;
    justify-content: space-between;
    margin:20px;
    padding:10px;
    color:black;
    align-items: center;
}
section h1{
    font-size: 30pt;
    display: flex;
    justify-content: center;
    
}
section p{
    font-size: 10pt;
    display: flex;
    justify-content: center;
    
}
#ab{
    display: flex;
    justify-content: center;
}
#img{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 100px;
}
#text{
    margin-top: 100px;
    margin-left: 40px;
    font-size: 15pt;
}
#p{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
#a{
    padding-right: 25px;
}
#b{
    padding-left: 25px;
    padding-right: 25px;
}
#c{
    padding-left: 25px;;
}
button{
    background-color: blueviolet;
    color: white;
    font-size: 25px;
}
main h1{
    display: flex;
    justify-content: center; 
    padding-top: 100px; 
}
main p{
    display: flex;
    justify-content: center;
}
#edu{
    display: flex;
    justify-content:left;
    padding-top:50px;
}
#q{
    border-bottom:3px solid blue;
    height: 10px;
}

